<div class="container">
	<div class="col-sm-12 search-form">
		<div class="row search-form-row">      
			<div class="col-sm-10">
    			<div class="input-group">
    				<span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    				<input 
	    				type="text" 
	    				placeholder="Zoek code snippet" 
	    				class="form-control"
	    				value="" 
	    				ng-model="searchBar">
    			</div>
			</div>

			<div class="col-sm-2 text-right">
			    <a href="#/add" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Toevoegen</a>     
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4 snippet-wrapper" ng-repeat="snippet in filterSearchBar = (snippets | filter:searchBar)">
		<div class="thumbnail">
			<div class="caption">
				<div>
					<a href="#/detail/{{ snippet.id }}"><h3>{{ snippet.title }}</h3></a>
					<h4>
						<span class="label label-primary label-sm">{{ snippet.language }}</span>
						<span class="label label-primary label-sm">{{ snippet.version }}</span>
					</h4>
					<a href="#/edit/{{ snippet.id }}" class="btn btn-sm btn-warning snippet-edit">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a>
					<button 
						class="btn btn-sm btn-danger snippet-delete"
						ng-click="deleteSnippet(snippet)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</div> 
			</div>
		</div>
	</div>
	<div class="container text-center" ng-show="!filterSearchBar.length">Geen resultaten</div>
</div>